
<% if flash[:notice] %>
    <div class="message alert alert-success position-absolute d-flex end-0" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="message alert alert-danger position-absolute d-flex end-0" role="alert">
        <%= flash[:alert] %>
    </div>
<% end %>
