<h1 class="text-center ">About Us</h1>
<div class="text-center p-3 bg-light rounded-lg shadow-sm mb-4">
    <h2 class="mb-4">Welcome to Our Library</h2>
    <p>Welcome to our library!</p>
    <p>We are dedicated to providing a wide range of books and resources to our community. Our mission is to foster a love for reading and learning among people of all ages.</p>
    <p>Our library offers a variety of services, including book lending, research assistance, and community events. We also have a digital collection that you can access from anywhere.</p>
    <p>Thank you for visiting our library, and we hope to see you soon!</p>
</div>
