<h1>Log In</h1>
<div>
    <form>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="username">Username:</label>
        <input type="password" name="password" required>
        <button>
    </form>
</div>